<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>JavaDemo</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/db_test</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>root</param-value>
    </context-param>
    <listener>
        <listener-class>com.listener.MyRequestListener</listener-class>
    </listener>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>GzipFilter</filter-name>
        <filter-class>com.filter.GZipFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>/test</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterDemo</filter-name>
        <filter-class>com.filter.FilterDemo</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDemo</filter-name>
        <url-pattern>/FilterServlet1</url-pattern>
        <url-pattern>/testjsp.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>com.servlet.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.servlet.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>FirstServlet</display-name>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>com.servlet.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>TestRequestServlet</display-name>
        <servlet-name>TestRequestServlet</servlet-name>
        <servlet-class>com.servlet.TestRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestRequestServlet</servlet-name>
        <url-pattern>/TestRequest</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ServletMain</display-name>
        <servlet-name>ServletMain</servlet-name>
        <servlet-class>com.servlet.ServletMain</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMain</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ForwardServlet</display-name>
        <servlet-name>ForwardServlet</servlet-name>
        <servlet-class>com.servlet.ForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardServlet</servlet-name>
        <url-pattern>/ForwardServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>TestResponseServlet</display-name>
        <servlet-name>TestResponseServlet</servlet-name>
        <servlet-class>com.servlet.TestResponseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestResponseServlet</servlet-name>
        <url-pattern>/TestResponse</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>ServletContextTest</display-name>
        <servlet-name>ServletContextTest</servlet-name>
        <servlet-class>com.servlet.ServletContextTest</servlet-class>
        <init-param>
            <param-name>s-url</param-name>
            <param-value>ServletContextTest</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContextTest</servlet-name>
        <url-pattern>/context</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>CookieServlet</display-name>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>com.servlet.CookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>SessionServlet</display-name>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>com.servlet.SessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>FilterServlet1</display-name>
        <servlet-name>FilterServlet1</servlet-name>
        <servlet-class>com.filter.FilterServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilterServlet1</servlet-name>
        <url-pattern>/FilterServlet1</url-pattern>
    </servlet-mapping>
</web-app>